<!DOCTYPE HTML>

<html>

<head>
	<title>管理员系统</title>
	<meta charset="utf-8" />

	<meta name="author" content="">
	<meta name="description" content=""/>

	<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/backstretch.js"></script>
    <script type="text/javascript" src="/static/js/main1.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>


    <script type="application/x-javascript" src="/static/js/Bmob-2.2.5.min.js"></script>

    <script>
        function test1() { 
            console.log("ok");
   
        }

    </script>
</head>


<body>
<section class="content wrapper">
    
		<h1>管理员系统</h1>
		<p class="description"></p>

		<div class="subscription_form clearfix">
			<div>
				
					
					<input type="button" value="用户数据"  onclick="showdata()" class="administor_btn"/>
                    <input type="button" value="查看评分"  onclick="showscore()" class="administor_btn"/>
				    <input type="button" value="平 均 分"  onclick="showscore_avg()" class="administor_btn"/>

				
			</div>
            
		</div>
        <br /><br /><br />
        <textarea style="OVERFLOW:visible"  value=""  id="showall"    class="show_text" spellcheck="false" readonly="readonly" ></textarea>

       

	</section>
</body>
</html>
