<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Question Answering</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script type="text/javascript" src="/static/js/jquery1102.min.js"></script>
    <link rel="stylesheet" href="/static/css/loginnew.css"/>
    <script type="text/javascript" src="/static/js/loginnew.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/backstretch.js"></script>

    <script type="application/x-javascript" src="/static/js/Bmob-2.2.5.min.js"></script>
    <script>
        Bmob.initialize("c53be0ddb90567a5", "123456");
        Bmob.debug(true);
    </script>
</head>

<body>
    <div class='container' style='text-align:center;'>
        <div class="row">
            <!--title-->
            <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0' style='padding:0;' >
                <br>
                <h2 style='text-align:center;color: white;font-size: 32px;'>基于知识图谱的问答系统</h2>

                <h3 style='text-align:center;color: white;font-size: 18px;'>Question Answering System Based on Knowledge Graph</h3>
                <br>
            </div>
        </div>
        <div class='row' >

            <div class='col-lg-4 col-lg-offset-4 col-md-offset-4 col-md-4 col-sm-10 col-sm-offset-0 col-xs-12 col-xs-offset-0' style='padding:0;' >
                <!--聊天框-->
                <div class="chat_wrap">
                    <!--聊天框内容-->
                    <div id='chat' class="test-1">
                    </div>
                </div>
            </div>

        </div>
        <!--输入框 按钮-->
        <div>
            <input type="text" id='info' class="info">
            <button type="submit" id='send' class="send"></button>
        </div>
    </div>
                <div class="bxback">

					<div class="item item2" style="background-image: url(/static/img/bg_img.jpg);"></div>
				</div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src='/static/js/main.js'></script>
</body>
</html>
