<!DOCTYPE HTML>

<html>

<head>
	<title>问答系统</title>
	<meta charset="utf-8" />

	<meta name="author" content="">
	<meta name="description" content=""/>

    <META    HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META    HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>
    <META    HTTP-EQUIV="Expires" CONTENT="0"/>

	<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/backstretch.js"></script>
    <script type="text/javascript" src="/static/js/main1.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
    <script type="application/x-javascript" src="/static/js/Bmob-2.2.5.min.js"></script>

</head>
<body>

	<section class="content wrapper">
    
		<h1>故障领域问答系统</h1>
		<br><br>
		<h2>注册</h2>

		<div class="subscription_form clearfix">
			<div>
				<form >
					<input type="text" id="account" placeholder="请输入用户名">
					<button type="submit" ><i class="mailicon"></i></button>
        
				</form>
			</div>
		</div>

        <div class="subscription_form clearfix">
			<div>
                <form >
					<input type="password" id="pwd" placeholder="请输入密码">
					<button type="submit"><i class="lockicon"></i></button>
				</form>
			</div>
		</div>

		<div class="subscription_form clearfix">
			<div>
                <form >
					<input type="password" id="pwd2" placeholder="再次输入相同密码">
					<button type="submit"><i class="lockicon"></i></button>
				</form>
			</div>
		</div>

        <div class="subscription_form clearfix">
			<div>
                <form >
					<input type="button" value="注  册"  onclick="register()" class="right_btn"/>
					<a href="http://127.0.0.1:8080/login"><input type="button" value="前往登录"  class="left_btn"/></a>
				</form>
                 
			</div>
		</div>
       

	</section>
	
</body>
</html>